<div class="footer">
    <div class="logo">
        <p>GrabMySeat</p>
    </div>
    <div class="explore">
        <div id="explore-heading">Explore</div>
        <a href="/login">Organise</a>
        <a href="/audiLogin">Enjoy</a>
    </div>
    <div class="about">
        <div id="about">About Us</div>
        <p>Group of Bored College students found something fun</p>
    </div>
    <div class="social">
        <div id="social">Follow Us</div>
        <div class="favicon">
            <i class="fab fa-instagram fa-2x"></i>
            <i class="fab fa-facebook fa-2x"></i>
            <i class="fab fa-twitter fa-2x"></i>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
<script src="/js/script.js">
</script>
</body>
</html>