<nav class="landing-nav"> 
    <h1 id="logo">GrabMySeat</h1>
    <div class="landing-actions">
        <a class="button" href="/login" >
            Organise
         </a>
         <a class="button" href="/audiLogin" >
             Log In
         </a>
    </div>
    </nav >