<a href="/kolkata">
<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="150.000000pt" height="150.000000pt" viewBox="0 0 200.000000 200.000000"
 preserveAspectRatio="xMidYMid meet">
<g transform="translate(0.000000,235.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path d="M990 1362 c0 -31 -31 -84 -72 -122 -21 -21 -41 -50 -44 -68 -4 -18
-13 -32 -20 -32 -16 0 -19 -16 -4 -25 11 -7 14 -58 4 -68 -12 -11 -44 18 -44
40 0 13 -4 23 -10 23 -5 0 -10 -7 -10 -16 0 -9 -13 -32 -30 -51 -25 -28 -30
-42 -30 -83 l0 -50 -95 0 c-92 0 -95 1 -95 23 0 13 6 29 13 36 10 11 10 14 0
18 -7 3 -13 16 -13 29 0 15 -6 24 -15 24 -11 0 -15 12 -15 49 0 37 -6 56 -24
78 -13 15 -25 36 -27 46 -5 23 -23 23 -28 0 -2 -10 -14 -31 -27 -46 -18 -22
-24 -41 -24 -78 0 -37 -4 -49 -15 -49 -9 0 -15 -9 -15 -24 0 -13 -6 -26 -12
-29 -10 -4 -10 -7 0 -18 9 -9 12 -64 12 -201 l0 -187 -57 -3 c-34 -2 -58 -8
-61 -15 -3 -10 155 -13 768 -13 613 0 771 3 768 13 -3 7 -27 13 -61 15 l-57 3
0 187 c0 137 3 192 13 201 10 11 10 14 0 18 -7 3 -13 16 -13 29 0 15 -6 24
-15 24 -11 0 -15 12 -15 49 0 37 -6 56 -24 78 -13 15 -25 36 -27 46 -2 10 -8
18 -14 18 -5 0 -12 -8 -14 -18 -2 -10 -14 -31 -27 -46 -18 -22 -24 -41 -24
-78 0 -37 -4 -49 -15 -49 -9 0 -15 -9 -15 -24 0 -13 -6 -26 -12 -29 -10 -4
-10 -7 0 -18 6 -7 12 -23 12 -36 0 -22 -3 -23 -95 -23 l-95 0 0 46 c0 50 -13
82 -42 102 -10 7 -18 22 -18 33 0 11 -4 17 -10 14 -5 -3 -10 -14 -10 -23 0
-18 -34 -45 -44 -35 -10 11 -7 58 6 71 9 9 8 15 -3 24 -9 7 -22 28 -29 46 -7
18 -26 44 -43 58 -32 27 -67 87 -67 116 0 10 -4 18 -10 18 -5 0 -10 -8 -10
-18z m20 -72 c0 -5 -4 -10 -10 -10 -5 0 -10 5 -10 10 0 6 5 10 10 10 6 0 10
-4 10 -10z m48 -56 c22 -15 52 -63 52 -84 0 -6 -40 -10 -110 -10 -70 0 -110 4
-110 10 0 21 30 69 52 84 12 9 38 16 58 16 20 0 46 -7 58 -16z m-580 -91 c14
-23 14 -23 -27 -23 -42 0 -53 14 -29 38 17 17 38 11 56 -15z m1100 15 c23 -23
13 -38 -23 -38 -22 0 -35 5 -35 13 0 16 20 37 35 37 6 0 16 -5 23 -12z m-658
-68 c0 -13 -7 -20 -20 -20 -13 0 -20 7 -20 20 0 13 7 20 20 20 13 0 20 -7 20
-20z m70 0 c0 -13 -7 -20 -20 -20 -13 0 -20 7 -20 20 0 13 7 20 20 20 13 0 20
-7 20 -20z m60 0 c0 -13 -7 -20 -20 -20 -13 0 -20 7 -20 20 0 13 7 20 20 20
13 0 20 -7 20 -20z m70 0 c0 -13 -7 -20 -20 -20 -13 0 -20 7 -20 20 0 13 7 20
20 20 13 0 20 -7 20 -20z m-632 -22 c2 -20 -1 -28 -12 -28 -9 0 -16 7 -16 15
0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15 0 -8 -4 -15 -10 -15 -5 0 -10 14 -10 31
0 29 2 30 38 27 32 -3 37 -7 40 -30z m1110 0 c2 -20 -1 -28 -12 -28 -9 0 -16
7 -16 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15 0 -8 -7 -15 -15 -15 -15 0 -21
40 -8 54 4 4 23 6 43 4 30 -3 35 -7 38 -30z m-472 -33 c17 -13 14 -14 -41 -15
-35 0 -66 5 -73 12 -9 9 -15 9 -24 0 -7 -7 -38 -12 -72 -12 -56 1 -59 2 -42
15 15 11 48 15 126 15 78 0 111 -4 126 -15z m-298 -22 c14 -23 14 -23 -27 -23
-42 0 -53 14 -29 38 17 17 38 11 56 -15z m406 5 c14 -23 5 -30 -38 -26 -36 3
-36 3 -20 26 18 26 41 26 58 0z m-714 -18 c0 -6 -32 -10 -75 -10 -43 0 -75 4
-75 10 0 6 32 10 75 10 43 0 75 -4 75 -10z m494 -7 c8 -21 -10 -41 -24 -27
-11 11 -3 44 10 44 4 0 11 -8 14 -17z m616 7 c0 -6 -32 -10 -75 -10 -43 0 -75
4 -75 10 0 6 32 10 75 10 43 0 75 -4 75 -10z m-670 -26 c0 -12 -10 -14 -47
-12 -66 4 -70 28 -4 28 39 0 51 -4 51 -16z m180 1 c0 -11 -12 -15 -50 -15 -38
0 -50 4 -50 15 0 11 12 15 50 15 38 0 50 -4 50 -15z m-620 -65 l0 -60 -75 0
-75 0 0 53 c0 30 3 57 7 60 3 4 37 7 75 7 l68 0 0 -60z m320 0 l0 -60 -45 0
-45 0 0 53 c0 30 3 57 7 60 3 4 24 7 45 7 l38 0 0 -60z m410 0 l0 -60 -45 0
-45 0 0 60 0 60 45 0 45 0 0 -60z m378 -2 l3 -58 -76 0 -75 0 0 53 c0 30 3 57
7 61 4 4 37 6 73 4 l65 -3 3 -57z m-488 17 c0 -13 -22 -15 -140 -15 -118 0
-140 2 -140 15 0 13 22 15 140 15 118 0 140 -2 140 -15z m-410 -60 c0 -12 -17
-15 -95 -15 -78 0 -95 3 -95 15 0 12 17 15 95 15 78 0 95 -3 95 -15z m180
-115 l0 -130 -25 0 -25 0 0 130 0 130 25 0 25 0 0 -130z m160 95 c0 -19 -2
-35 -3 -35 -2 0 -18 7 -35 16 -29 14 -35 14 -64 0 -17 -9 -33 -16 -35 -16 -1
0 -3 16 -3 35 l0 35 70 0 70 0 0 -35z m70 -95 l0 -130 -25 0 -25 0 0 130 0
130 25 0 25 0 0 -130z m320 115 c0 -12 -17 -15 -95 -15 -78 0 -95 3 -95 15 0
12 17 15 95 15 78 0 95 -3 95 -15z m-940 -80 c0 -43 -1 -45 -30 -45 -23 0 -30
4 -30 20 0 11 -4 20 -10 20 -5 0 -10 -9 -10 -20 0 -16 -7 -20 -30 -20 -29 0
-30 2 -30 45 l0 45 70 0 70 0 0 -45z m210 0 c0 -42 -2 -45 -26 -45 -15 0 -34
10 -44 23 l-18 22 -24 -22 c-13 -13 -36 -23 -51 -23 -25 0 -27 3 -27 45 l0 45
95 0 95 0 0 -45z m110 0 c0 -33 -4 -45 -15 -45 -8 0 -15 6 -15 14 0 24 -21 30
-27 7 -10 -40 -33 -24 -33 24 l0 45 45 0 45 0 0 -45z m410 0 c0 -33 -4 -45
-15 -45 -8 0 -15 9 -15 20 0 11 -5 20 -11 20 -6 0 -13 -9 -16 -20 -10 -40 -33
-22 -33 25 l0 45 45 0 45 0 0 -45z m210 0 c0 -43 -2 -45 -28 -45 -15 0 -35 9
-45 20 -9 11 -21 20 -27 20 -5 0 -15 -9 -22 -20 -8 -12 -24 -20 -40 -20 -26 0
-28 3 -28 45 l0 45 95 0 95 0 0 -45z m170 0 c0 -43 -1 -45 -30 -45 -19 0 -30
5 -30 14 0 24 -21 30 -27 7 -4 -15 -13 -21 -34 -21 -28 0 -29 2 -29 45 l0 45
75 0 75 0 0 -45z m-581 -1 c17 -21 21 -41 21 -95 l0 -69 -70 0 -70 0 0 69 c0
82 23 121 70 121 19 0 36 -9 49 -26z m-529 -119 c0 -43 -1 -45 -30 -45 -23 0
-30 4 -30 20 0 11 -5 20 -11 20 -6 0 -13 -9 -16 -20 -4 -14 -14 -20 -34 -20
-28 0 -29 2 -29 45 l0 45 75 0 75 0 0 -45z m210 0 c0 -42 -2 -45 -28 -45 -16
0 -32 8 -40 20 -7 11 -19 20 -27 20 -8 0 -20 -9 -27 -20 -8 -12 -24 -20 -40
-20 -26 0 -28 3 -28 45 l0 45 95 0 95 0 0 -45z m110 0 c0 -33 -4 -45 -15 -45
-8 0 -15 9 -15 20 0 11 -7 20 -15 20 -8 0 -15 -9 -15 -20 0 -11 -7 -20 -15
-20 -11 0 -15 12 -15 45 l0 45 45 0 45 0 0 -45z m410 0 c0 -33 -4 -45 -15 -45
-8 0 -15 9 -15 20 0 11 -5 20 -11 20 -6 0 -13 -9 -16 -20 -10 -40 -33 -22 -33
25 l0 45 45 0 45 0 0 -45z m210 0 c0 -42 -2 -45 -28 -45 -16 0 -32 8 -40 20
-7 11 -19 20 -27 20 -8 0 -20 -9 -27 -20 -8 -12 -24 -20 -40 -20 -26 0 -28 3
-28 45 l0 45 95 0 95 0 0 -45z m170 0 c0 -43 -1 -45 -30 -45 -23 0 -30 4 -30
20 0 11 -7 20 -15 20 -8 0 -15 -9 -15 -20 0 -16 -7 -20 -30 -20 -29 0 -30 2
-30 45 l0 45 75 0 75 0 0 -45z m-985 -35 c3 -5 1 -10 -4 -10 -6 0 -11 5 -11
10 0 6 2 10 4 10 3 0 8 -4 11 -10z m730 0 c3 -5 -1 -10 -10 -10 -9 0 -13 5
-10 10 3 6 8 10 10 10 2 0 7 -4 10 -10z m-58 -47 c-174 -2 -460 -2 -635 0
-174 1 -31 2 318 2 349 0 492 -1 317 -2z"/>
<path d="M437 923 c-13 -12 -7 -33 8 -33 8 0 15 9 15 20 0 20 -11 26 -23 13z"/>
<path d="M780 910 c0 -13 5 -20 13 -17 6 2 12 10 12 17 0 7 -6 15 -12 18 -8 2
-13 -5 -13 -18z"/>
<path d="M1195 920 c-7 -12 2 -30 16 -30 5 0 9 9 9 20 0 21 -15 27 -25 10z"/>
<path d="M1546 923 c-12 -12 -6 -33 9 -33 8 0 15 6 15 14 0 17 -14 28 -24 19z"/>
</g>

</svg>
<<<<<<< HEAD
</a>
=======
</a>
>>>>>>> d604bf8757433cc945a7f82a9f71de7da05bb973
