<a href="/audiLogin">
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
    width="100.000000pt" height="100.000000pt" viewBox="0 0 512.000000 512.000000"
    preserveAspectRatio="xMidYMid meet">
   
   <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
   fill="#ffc1b6" stroke="none">
   <path d="M2240 5004 c-107 -64 -205 -125 -217 -137 -16 -14 -23 -32 -23 -59
   l0 -38 -205 0 c-217 0 -245 -5 -264 -47 -7 -16 -11 -119 -11 -298 l0 -275
   -164 0 c-150 0 -165 -2 -190 -21 l-26 -20 0 -165 0 -164 -65 0 c-57 0 -69 -3
   -90 -25 -24 -24 -25 -28 -25 -185 l0 -160 -98 0 c-112 0 -135 -13 -135 -72 0
   -51 31 -68 124 -68 l79 0 2 -1616 3 -1616 24 -19 c22 -18 45 -19 496 -19 451
   0 474 1 496 19 l24 19 3 986 2 986 25 0 c14 0 34 9 45 20 41 41 12 120 -45
   120 -25 0 -25 1 -25 90 0 118 13 178 63 279 95 195 298 321 517 321 221 0 426
   -128 519 -323 48 -100 61 -160 61 -277 0 -89 0 -90 -25 -90 -14 0 -34 -9 -45
   -20 -41 -41 -12 -120 45 -120 l25 0 2 -986 3 -986 24 -19 c22 -18 45 -19 496
   -19 451 0 474 1 496 19 l24 19 3 1616 2 1616 79 0 c93 0 124 17 124 68 0 59
   -23 72 -135 72 l-98 0 0 160 c0 157 -1 161 -25 185 -21 22 -33 25 -90 25 l-65
   0 0 164 0 165 -26 20 c-25 19 -40 21 -190 21 l-164 0 0 275 c0 179 -4 282 -11
   298 -19 42 -47 47 -264 47 l-205 0 0 38 c0 27 -7 45 -22 59 -13 12 -112 73
   -220 137 l-197 116 -123 0 -123 -1 -195 -115z m571 -126 l174 -103 -213 -3
   c-116 -1 -308 -1 -424 0 l-213 3 170 102 170 101 81 1 82 1 173 -102z m639
   -488 l0 -240 -890 0 -890 0 0 240 0 240 890 0 890 0 0 -240z m390 -500 l0
   -110 -1280 0 -1280 0 0 110 0 110 1280 0 1280 0 0 -110z m180 -365 l0 -115
   -1460 0 -1460 0 0 115 0 115 1460 0 1460 0 0 -115z m20 -815 l0 -560 -374 0
   -373 0 -8 112 c-12 194 -59 325 -163 454 -98 121 -256 219 -403 250 -103 22
   -290 14 -379 -16 -194 -65 -343 -195 -430 -375 -48 -98 -67 -177 -76 -317 l-7
   -108 -373 0 -374 0 0 560 0 560 1480 0 1480 0 0 -560z m-2210 -935 l0 -235
   -375 0 -375 0 0 235 0 235 375 0 375 0 0 -235z m2210 0 l0 -235 -375 0 -375 0
   0 235 0 235 375 0 375 0 0 -235z m-2210 -1010 l0 -625 -375 0 -375 0 0 625 0
   625 375 0 375 0 0 -625z m2210 0 l0 -625 -375 0 -375 0 0 625 0 625 375 0 375
   0 0 -625z"/>
   <path d="M1792 4543 c-131 -64 -129 -249 4 -313 83 -41 178 -10 225 73 28 51
   24 138 -10 185 -46 65 -147 91 -219 55z m92 -129 c20 -8 21 -38 1 -54 -18 -15
   -45 2 -45 30 0 28 14 36 44 24z"/>
   <path d="M3168 4540 c-54 -29 -81 -73 -86 -141 -3 -45 0 -65 17 -96 88 -155
   323 -98 324 80 1 63 -20 106 -69 143 -48 37 -132 43 -186 14z m110 -146 c4
   -29 -23 -51 -43 -34 -8 7 -15 21 -15 30 0 35 53 38 58 4z"/>
   <path d="M1386 2933 c-27 -7 -87 -46 -108 -69 -55 -62 -73 -175 -39 -250 37
   -81 131 -144 216 -144 85 0 179 63 216 144 24 54 24 130 -2 186 -40 89 -102
   132 -199 136 -36 2 -74 0 -84 -3z m114 -148 c80 -41 47 -167 -45 -167 -90 0
   -125 124 -47 167 35 18 56 18 92 0z"/>
   <path d="M3596 2933 c-27 -7 -87 -46 -108 -69 -55 -62 -73 -175 -39 -250 37
   -81 131 -144 216 -144 85 0 179 63 216 144 24 54 24 130 -2 186 -40 89 -102
   132 -199 136 -36 2 -74 0 -84 -3z m114 -148 c80 -41 47 -167 -45 -167 -90 0
   -125 124 -47 167 35 18 56 18 92 0z"/>
   </g>
   </svg>
</a>