<%- include('partials/header') -%>
    <h1>Fill up your details</h1>
    <form action="/:city/:event/booking" method="post">
        <label for="startDate">Name</label>
        <input type="text" placeholder="Your Name" name="AudiName"><br><br>

        <label for="startDate">Email Id</label>
        <input type="email" placeholder="Email Id" name="email"><br><br>

        <label for="startDate">Phone Number</label>
        <input type="tel" placeholder="Phone number" name="ph_num"><br><br>

        <label for="startDate">Age</label>
        <input type="number" placeholder="Age" name="age"><br><br>

        <label for="startDate">Address</label>
        <input type="text" placeholder="Address" name="address"><br><br>

        <!--<input type="file" name="picture">-->

        <button type="submit">Submit</button>
    </form>
<%- include('partials/footer') -%>