
<%- include('partials/header') -%>
<div class="overflowHide">

<form action="/audiLogin" method="POST">
    <div class="login-form">
        <div class="login-card">
            <div class="login-img">
                <%- include('partials/login1') -%>
            </div>
            <div class="login-credentials">
                <div class="login-username">
                    <label for="username">User Name</label>
                    <input
                        type="text"
                        name="username"
                        placeholder="Enter UserName"
                        autocomplete="none"
                    />
                </div>
                <div class="login-password">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        name="password"
                        placeholder="Enter Password"
                        autocomplete="none"
                    />
                </div>
                <button type ="submit" >Login</button>
                <p>Don't have an account?   <a href="/audiregister">Register</a></p>
                </div>
        </div>
    </div>
</form>

</div>
<%- include('partials/footer') -%>