<%- include('partials/header') -%>
    <h1>CREATE AN ACCOUNT OR LOGIN</h1>
    <a href="/users/register"><button type="submit">REGISTER</button></a>
    <a href="/users/login"><button type="submit">LOGIN</button></a>
    <script src="/js/script.js"></script>
</body>
</html>