*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0%;
    overflow-x: hidden;
}
.header{
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/event.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.header h1{
  font-size: 72px;
  color: white;
}
#logo{
    color: #ff385c;
    margin-left: 20px;
    font-weight: bold;
    font-size: 30px;
}
.button{
    padding: 20px;
    width: 25%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    font-size: 20px;
}
.button:hover{
    transition: 0.5s;
    color: #ff385c;

}
.landing-nav{
    background-color: #d8d8d8;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.landing-actions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}
@media only screen and (max-width: 600px) {
  .header h1{
    font-size: 32px;
    color: white;
  }
  .landing-nav{
    background-color: #d8d8d8;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.landing-actions{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
#logo{
  color: #ff385c;
  margin-left: 20px;
  font-weight: bold;
  font-size: 20px;
}
.landing-actions{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
.button{
  /* margin: 20px; */
  width: 20%;
  margin: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  border-radius: 15px;
  font-size: 10px;
}

}

  .taglines{
    display: flex;
    width: 100%;
    height: 15vh;
    justify-content: space-around;
    align-items: center;
}
.taglines p {
    font-size: 32px;
    text-align: center;
}
.icons{
    color: #ec4646;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icons p{
    font-size: 15px;
    color: black;
}
.division{
    margin-left: 84px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #000000;
}

.city{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin: 20px 0;
    padding-bottom: 30px;
    /* height: 35vh; */
}
.kolkata{
    color:black;
    width: 200pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right:20px
    
}

.kolkata g{
    fill: #ec4646;
    transition: 0.5s;

}
.Delhi{
    color:black;
    width: 200pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right:20px
    }

    .Delhi g{
        fill: #ec4646;
        transition: 0.5s;
    
    }
    
    .Bengaluru{

        color:black;
        width: 200pt;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right:20px
        }

        .Bengaluru g{
            fill: #ec4646;
            transition: 0.5s;
        
        }
        
    .Hyderabad{
        color:black;
        width: 200pt;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
        .Hyderabad g{
            fill: #ec4646;
            transition: 0.5s;
        
        }
        .Mumbai{
            color:black;
            width: 200pt;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right:20px
            }
            .Mumbai g{
                fill: #ec4646;
                transition: 0.5s;
            
            }
@media only screen and (max-width: 600px) {
  .kolkata,  .Bengaluru, .Mumbai, .Hyderabad{
    color:black;
    width: 200pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20px
    
}
.Delhi{
  margin: 70px 0 0;
}
}

.event-categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.event-categories a{
  text-decoration: none;
  color: black;
}

.event{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 40vh;
  margin: 50px 10px;
}

.event img{
  width: 100%;
  height: 90%;
}
.event p{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 28px;
}

@media only screen and (max-width: 600px){
  .event-categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  
  .event-categories a{
    text-decoration: none;
    color: black;
  }
  
  .event{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50vh;
    margin: 30px 10px;
  }
  
  .event img{
    width: 80%;
    height: 90%;
  }
  .event p{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 28px;
  }
  .division{
    margin-left: 0;
    text-align: center;
  }
}
/* /////////////////////////////////////////////////////////
Login-Page
///////////////////////////////////////////////////////// */
.login-form{
    background-image: url(../images/doodle.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height:100vh;
}
.login-card{
    display: flex;
    width: 60%;
    height:50%;
}
.login-img{
    background-color: rgb(226, 224, 224);
    width:40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 30px;
    overflow:hidden;
}
.login-img svg{
    width: 100%;
}
.login-credentials{
    width: 60%;
    background-color: #ec4646;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: 30px;

}
.login-credentials p {
    color: white;
    margin-left: auto;
    padding-right: 40px;
}
.login-credentials a{
color: white;
}
.login-credentials label{
    font-weight: bold;
}
.login-credentials button{
    color: white;
    width : 40%;
    font-weight: bold;
    height: 40px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 15px;
}
.login-username{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
}

.login-username input{
    color: white;
    width : 100%;
    height: 50px;
    border: none;
    border-bottom:  2px solid white;
    background-color: transparent;
}
::placeholder{
    color: white;
}
.login-username input:focus, textarea:focus, select:focus{
    border: none;
    border-bottom:  2px solid white;
    outline: none;
    fill: none;
}
.login-password{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
}
.login-password input{
    color: white;
    width : 100%;
    height: 50px;
    border: none;
    border-bottom:  2px solid white;
    background-color: transparent;
}
.login-password input:focus{
    border: none;
    border-bottom:  2px solid white;
    outline: none;
}

@media only screen and (max-width: 600px) {
  .login-img{
      display: none;
  }
  .login-credentials{
    width: 100%;
    height: 80%;
    background-color: #ec4646;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: 0;
    border-radius: 15px;

}
.login-card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height:80%;
}
}
.filterModal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  
  .filterModal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 100%; 
  }
  
  
  .filterClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .filterClose:hover,
  .filterClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.login-username{
    color: white;
}
.login-password{
    color: white;
}
.btn{
    
    outline:none !important;
    border: none;
    border-radius:50px;
    background: white;
    color: white;
    transition: 0.5s;
}
.btn:hover {
    color:white;
    background-color: transparent;
    transform: translateX(4px);

}

.custom-shape-divider-bottom-1613982271 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1613982271 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 153px;
}

.custom-shape-divider-bottom-1613982271 .shape-fill {
    fill: #EC4646;
}

/* /////////////////////////////////////////////////////////
Register
///////////////////////////////////////////////////////// */
.register-form{
    background-image: url(../images/doodle.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height:130vh;
    
}
.register-card{
    display: flex;
    width: 60%;
    height:75%;
}
.register-img{
    background-color: #ffff;
    border: 2px solid #ec4646 ;
    width:40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 30px;
}
.register-credentials{
    width: 60%;
    background-color: #ec4646;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: 30px;
    color: white;
}

.register-credentials div{
    width: 80%;
}
.register-credentials p{
    margin-left: auto;
    padding-right: 30px;
}
.register-credentials a{
    color: white;
}

.register-credentials button{
    color: white;
    width : 40%;
    height: 40px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 15px;
}
.register-credentials button:hover{
    color:#ec4646;
    background-color: white;
    transform: translateX(4px);

}
.register-credentials  input{
    width : 100%;
    height: 50px;
    border: none;
    border-bottom:  2px solid white;
    background-color: transparent;
}
.register-credentials input:focus, textarea:focus, select:focus{
    border: none;
    border-bottom:  2px solid white;
    outline: none;
    fill: none;
}

  /* -----------------------------------------------------------
Analytics
----------------------------------------------------------- */
/* body{
    background-color: black;
} */
.analysis{
    display: flex;
}
.container {
	max-width: 1000px;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
}
.table {
	width:100%;
	border:1px solid #EEEEEE;
}
.table-data{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.table-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.table-header {
	display:flex;
	width:100%;
	background:#000;
	padding:20px 0;
}
.table-row {
	display:flex;
	width:100%;
	padding: 40px 0;
    background-color: rgb(201, 201, 201);
}
.table-data, .header__item{
	flex: 20 20 70%;
	text-align:center;
}
.table-data:not(:last-child){
    margin: 0 55px;
}
.header__item {
	text-transform:uppercase;
}
.filter__link {
	color:white;
	text-decoration: none;
	position:relative;
	display:inline-block;
	padding-left:22px;
	padding-right:22px;
}
/* ----------------------------------------------------------------
                        ORGANISER PAGE 
---------------------------------------------------------------- */

.organiser {
    width: 100vw;
    height: 100vh;
    background-color: #ffff;
  }
  .organiser-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    height: 10vh;
  }
  
  .organiser h1 {
    margin-left: 20px;
    color: #141414;
    font-size: 30px;
    font-weight: bold;
  }
  .organiser-nav a {
    text-decoration: none;
    color: #141414;
  }
  .organiser-nav div {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .organiser-nav button {
    color: #141414;
    border: none;
    background-color: transparent;
    text-align: center;
    margin-right: 40px;
  
    font-size: 20px;
  }
  
  .organiser-nav button:hover {
    color: #ec4646;
    transition: 0.5s;
  }
  
  .organiser-events {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 30%;
    height: 20%;
    margin: 20px;
    border-radius: 10px;
    background-image: url(../images/ZenBG\(1\)\.png);
    background-color: #ec4646;
  }
  
  .organiser-events p {
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin: 20px;
  }
  
  .events-parent {
    display: flex;
    flex-wrap: wrap;
  }
  .collegeEvent-parent{
    display: flex;
    flex-wrap: wrap;
  }
.actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: auto;
    padding: 20px;
  }
  
  .actions button {
    color: white;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 15px;
    letter-spacing: 1px;
    width: 150px;
    height: 60px;
    border: none;
    background-color: #2b2a3b;
    text-align: center;
    border-radius: 5px;
  }
  .actions button:hover {
    color: #141414;
    background-color: #fff;
    transition: 0.5s;
    box-shadow: -1px -2px 50px 0px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: -1px -2px 50px 0px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: -1px -2px 50px 0px rgba(0, 0, 0, 0.48);
  }
  
  .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 25rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
  }
  .close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
  }
  .close-button:hover {
    background-color: darkgray;
  }
  .show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }
  /* -----------------------------------------------------------
Footer
----------------------------------------------------------- */
.footer{
    height: 40vh;
    width: 100vw;
    background-color: #f3f1f1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


#explore-heading{
    font-size: 30px;
    color: #ec4646;
}
.explore{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.explore a{
    text-decoration: none;
    color: black;
}
.explore a:hover{
    transition: 0.5s;
    color: #ec4646;
}
.logo{
    font-size: 40px;
    font-weight: bold;
    color: #ec4646;
}
.about{
    width: 20vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.about p{
    text-align: center;
}
#about{
    font-size: 30px;
    color: #ec4646;
}

.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#social{
    font-size: 30px;
    color: #ec4646;
}
.favicon{
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.favicon i:hover{
    transition: 0.5s;
    color: #ec4646;
}
@media only screen and (max-width: 600px) {
  .footer{
    width: 100vw;
    background-color: #f3f1f1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.about{
  width: 50vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.logo{
  display: none;
}
}
/* ----------------------------------------------------------------
carousel
---------------------------------------------------------------- */

   
  .createEvent-form{
    background-image: url(../images/doodle.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height:auto;
    
    
}
.createEvent-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height:75%;
    
}
.createEvent-img{
    background-color: #ffff;
    border: 2px solid #ec4646 ;
    width:40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 30px;
}
.createEvent-credentials{
    width: 60%;
    background-color: #ec4646;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: 30px;
    color: white;
}

.createEvent-credentials div{
    width: 80%;
}
.createEvent-credentials p{
    margin-left: auto;
    padding-right: 30px;
}
.createEvent-credentials a{
    color: white;
}

.createEvent-credentials button{
    color: white;
    width : 40%;
    height: 40px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 15px;
}
.createEvent-credentials button:hover{
    color:#ec4646;
    background-color: white;
    transform: translateX(4px);

}
.createEvent-credentials  input{
    width : 100%;
    height: 50px;
    border: none;
    border-bottom:  2px solid white;
    background-color: transparent;
}
.createEvent-credentials input:focus, textarea:focus, select:focus{
    border: none;
    border-bottom:  2px solid white;
    outline: none;
    fill: none;
}
