* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
/* /////////////////////////////////////////////////////////
Landing-Page
///////////////////////////////////////////////////////// */

.landing-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0efea;
  height: 60vh;
}
.landing-image svg {
  height: 550px;
  width: 550px;
}
.city {
  background-color: #141414;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  padding: 5px;
  margin: 0;
  height: 35vh;
}
.kolkata {
  color: white;
  width: 200pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kolkata:hover g {
  fill: orange;
  transition: 0.5s;
}
.Delhi {
  color: white;
  width: 200pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Delhi:hover g {
  fill: orange;
  transition: 0.5s;
}

.Bengaluru {
  color: white;
  width: 200pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Bengaluru:hover g {
  fill: orange;
  transition: 0.5s;
}

.Hyderabad {
  color: white;
  width: 200pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Hyderabad:hover g {
  fill: orange;
  transition: 0.5s;
}
.Mumbai {
  color: white;
  width: 200pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Mumbai:hover g {
  fill: orange;
  transition: 0.5s;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: black;
}
.header h1 {
  color: white;
  font-family: Roboto;
  font-size: 30px;
  letter-spacing: 2px;
  margin-left: 50px;
}
.login-btn {
  width: 150px;
  padding: 8px 0;
  outline: none !important;
  border: none;
  border-radius: 50px;
  background: orange;
  color: white;
  float: right;
  font-size: 20px;
  transition: 0.5s;
  font-family: Roboto;
  margin-right: 50px;
  letter-spacing: 2px;
}
.login-btn:hover {
  color: white;
  background-color: transparent;
  transform: translateX(4px);
}

/* /////////////////////////////////////////////////////////
Login-Page
///////////////////////////////////////////////////////// */
.login-form {
  background-color: #2b2a3b;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.login-card {
  display: flex;
  width: 60%;
  height: 50%;
}
.login-img {
  background-color: #ffff;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 30px;
}
.login-img svg {
  width: 100%;
}
.login-credentials {
  width: 60%;
  background-color: #f9a826;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-top-right-radius: 30px;
}
.login-credentials p {
  color: black;
  margin-left: auto;
  padding-right: 40px;
}
.login-credentials a {
  color: white;
}
.login-credentials button {
  color: white;
  width: 40%;
  height: 40px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 15px;
}
.login-username {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
}
.login-username label {
}
.login-username input {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
}
.login-username input:focus,
textarea:focus,
select:focus {
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  fill: none;
}
.login-password {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
}
.login-password label {
}
.login-password input {
  color: white;
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
}
.login-password input:focus {
  border: none;
  border-bottom: 2px solid white;
  outline: none;
}
/* /////////////////////////////////////////////////////////
Register
///////////////////////////////////////////////////////// */
.register-form {
  background-color: #2b2a3b;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.register-card {
  display: flex;
  width: 60%;
  height: 75%;
}
.register-img {
  background-color: #ffff;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 30px;
}
.register-credentials {
  width: 60%;
  background-color: #f9a826;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-top-right-radius: 30px;
}

.register-credentials div {
  width: 80%;
}
.register-credentials p {
  margin-left: auto;
  padding-right: 30px;
}
.register-credentials a {
  color: white;
}

.register-credentials button {
  color: white;
  width: 40%;
  height: 40px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 15px;
}
.register-credentials input {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
}
.register-credentials input:focus,
textarea:focus,
select:focus {
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  fill: none;
}
/* ///
//////////////////////////////////////////////////////
Create-Event-Page(Admin)
///////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////
Analyitics-Page(Admin)
///////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////
Events-Page(Audience)
///////////////////////////////////////////////////////// */
.events {
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.event-box {
  margin: 10px;
  width: 300px;
  height: 400px;
  background-color: #e7e6e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}
.event-box img {
  width: 300px;
  height: 300px;
  border-radius: 0 0 15px;
}

/* /////////////////////////////////////////////////////////
Booking-Page(Individual-event)
///////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////
Checkout-Page(Audience)
///////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////
Checkout-Page(Audience)
///////////////////////////////////////////////////////// */
.analysis {
  display: flex;
}

#calendar_basic {
  margin: auto;
}
