/* /////////////////////////////////////////////////////////
Landing-Page
///////////////////////////////////////////////////////// */
.city{
    display: flex;
    justify-content: center;
    align-items: center;
}
.kolkata{
    width: 200pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kolkata svg{
    margin-bottom: 0px;
}
.kolkata h1{
    margin-top: 0px;
}
.kolkata g{
    margin-bottom: 0;
}
.kolkata:hover g{
    fill: skyblue;
    transition: 0.5s;

}
.Delhi{
    width: 200pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .Delhi:hover g{
        fill: skyblue;
        transition: 0.5s;
    
    }
    


/* /////////////////////////////////////////////////////////
Login-Page
///////////////////////////////////////////////////////// */


/* /////////////////////////////////////////////////////////
Create-Event-Page(Admin)
///////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////
Analyitics-Page(Admin)
///////////////////////////////////////////////////////// */


/* /////////////////////////////////////////////////////////
Events-Page(Audience)
///////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////
Booking-Page(Individual-event)
///////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////
Checkout-Page(Audience)
///////////////////////////////////////////////////////// */